/* Common elements */

/* .navbar navbar-expand-lg navbar-light {
    background-color: blue;
} */

/* name in navbar */
.navbar-brand {
    color: #ffffff;
    background-color: #1B9AAA;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    height: 80px;
    font-size: 40px;
    padding: 10px 20px;
    margin-left: 30 !important;
}

.nav-link {
    color: #1B9AAA;
    font-weight: bold;
}

.navbar-toggler {
    color: red;
}

.header {
    color: red;
}

/* links */
#navbarNavAltMarkup {
    color: #707675;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

h2 {
    color: #1B9AAA;
    font-weight: bolder;
    font-size: 35px;
}

hr {
    height: 1px;
    border-top: 1px solid #707675;
}

img {
    border: 2px solid  #1B9AAA;
}

.footer {
    background-color: #707675;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #1B9AAA;
    height: 60px;
    font-size: 4px;
    padding: 25px;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }

/* Portfolio elements*/
.body-projects {
    padding: 50px 200px;
}

.col-md-6 p {
    background-color: #1B9AAA;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0%;
    transform: translate(0, -75%);
    text-align: center;
    color: white;
    padding: 10px;
    width: 225px;
    margin-left: 17px;
}

/* Contact Me */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: .5px solid #707675;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  input[type=submit] {
    background-color: #1B9AAA;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
 
  input[type=submit]:hover {
    background-color: #707675;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }