/* Common elements */

/* name in navbar */
.navbar-brand {
    color: #ffffff !important;
    background-color: #1B9AAA;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    height: 80px;
    font-size: 40px;
    padding: 10px 20px;
    margin-left: 30 !important;
    margin: 0px 16px 0px 237px;
}

.nav-link {
    color: #1B9AAA !important;
    font-weight: bold;
}

.navbar-nav {
    margin-right: 250px;
}

a:active {
    background-color: #1B9AAA;
    color: #ffffff;
}

ul {
    /* margin-right: 270px; */
    float: right;
}

/* .navbar-toggler { */
    /* color: red; */
/* } */

/* .header { */
    /* color: red; */
/* } */

/* button, input {} */

/* links */
#navbarNavAltMarkup {
    color: #707675;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

h2 {
    color: #1B9AAA;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 20px;
}

hr {
    height: 1px;
    border-top: 1px solid #707675;
}

img {
    border: 2px solid  #1B9AAA;
    margin-top: 25px;
}

.footer {
    background-color: #707675;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #1B9AAA;
    height: 60px;
    font-size: 4px;
    padding: 25px;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }


/* Portfolio elements*/
.body-projects {
    padding: 10px 200px;
}

.col-md-6 p {
    background-color: #1B9AAA;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0%;
    transform: translate(0, -75%);
    text-align: center;
    color: white;
    padding: 10px;
    width: 225px;
    margin-left: 17px;
}


/* Contact */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: .5px solid #707675;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  input[type=submit] {
    background-color: #1B9AAA;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
 
  input[type=submit]:hover {
    background-color: #707675;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  .col-md-12 {
    margin: 0 auto;
  }


  /* Media Queries */
  @media (max-width: 768px) {

    .body-projects {
        padding: 100px;
        width: 50%;
        height: auto;
    }
    
.navbar-toggler-icon {
    width: 47px;
    height: 34px;
    /* background-color: #1B9AAA; */
}

.navbar-brand {
    margin: 0 !important;
    float: left;
    size: 50%;
}

.nav-link {
    text-align: left;
}

button.navbar-toggler {
    background-color: #1B9AAA;
}

/* .col-md-6 { */
    /* padding: 50px; */
    /* margin-right: 200px; */
}